.registerContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.registerWrapper{
    padding: 20px;
    width: 40%;
    background-color: white;
}

.registerTitle{
    font-size: 24px;
    font-weight: 300;
}

.registerForm{
    display: flex;
    flex-wrap: wrap;
}

.registerInput{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

.registerAgreement{
    font-size: 12px;
    margin: 20px 0px;
}

.registerBtn{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;

}