.navContainer{
    height: 60px;
}

.navWrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.navLeft{
    flex: 1;
    display: flex;
    align-items: center;
}

.navCenter{
    flex: 1;
    text-align: center;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.navLanguage{
    font-size: 14px;
    cursor: pointer;
}

.navSearchContainer{
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.navInput{
    border: none;
    outline: none;
}

.navLogo{
    font-weight: bold; 
}

.navMenuItem{
    font-style: 14px;
    cursor: pointer;
    margin-left: 25px;
}